
<div class="col-sm-6 col-sm-offset-3">
    <h1 align="center">Contact Information</h1>
    <table class="table table-bordere" style="background-color: white;">
      <thead>
        <tr>
            <th>Address</th>
            <th>Phone</th>
            <th>Working Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>123 Hospital Satara, 412803</td>
            <td>+123 456 7890</td>
            <td> <ul>
                <li>Monday - Friday: 8:00 AM - 6:00 PM</li>
                <li>Saturday: 9:00 AM - 4:00 PM</li>
                <li>Sunday: Closed</li>
              </ul></td>
        </tr>
      </tbody>

    </table>
</div>